<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Typeform Form</title>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KLH33KHS');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLH33KHS"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <h1>Typeform form</h1>

    <main>
        <div data-tf-live="01HT9JTWN98JDYTWBPD8F6E4V4"></div><script src="//embed.typeform.com/next/embed.js"></script>
    </main>

    <script>
        window.addEventListener('message', function(e){
            if(e.origin !== "https://form.typeform.com") return;
            if(e.data.type && e.data.type === "form-submit"){
                fetch(`/api/typeform-data?form_id=${e.data.formId}&response_id=${e.data.response_id}`)
                .then(function(res){
                    return res.json();
                })
                .then(function(json){
                    console.log(json);
                    if(json.success){
                        window.dataLayer.push({"event":"typeform_submit", "email": json.email});
                    }
                });
            }
        });
    </script>
</body>
</html>